<section>
  <div class="header">
    <div class="title">Join 360</div>
    <div class="blue-bar"></div>
    <div class="metrics-txt">
      {{ "summary.headlineDescription" | translate }}
    </div>
  </div>
  <div class="content">
    <div class="left-container">
      <!-- TOP -->
      <div class="top-frame">
        <div class="todo-done" routerLink="/board">
          <div class="circle">
            <div class="inline">
              <img src="./../../../assets/img/summary/pencil.svg" alt="" />
            </div>
          </div>
          <div class="details">
            <span>{{ displayNumberOfTaskStatus("todo") }}</span>
            <p>{{ "summary.todo" | translate }}</p>
          </div>
        </div>
        <div class="todo-done" routerLink="/board">
          <div class="circle">
            <img src="./../../../assets/img/summary/rake.svg" alt="" />
          </div>
          <div class="details">
            <span>{{ displayNumberOfTaskStatus("done") }}</span>
            <p>{{ "summary.done" | translate }}</p>
          </div>
        </div>
      </div>
      <!-- MIDDLE -->
      <div class="middle-frame">
        <div class="urgent" routerLink="/board">
          <div class="left">
            <img src="./../../../assets/img/summary/urgent.svg" alt="" />
            <div class="details">
              <span>{{ displayNumberOfTaskStatusUrgent().length }}</span>
              <p>{{ "summary.urgent" | translate }}</p>
            </div>
          </div>
          <div class="line"></div>
          <div class="right">
            <div class="date">
              <div>
                @if (displayNumberOfTaskStatusUrgent().length) {
                <span>{{ nextUrgentTasks() }}</span>
                <p class="spacer">
                  {{ "summary.upcomingDeadline" | translate }}
                </p>
                } @else {
                <p>{{ "summary.noDeadline" | translate }}</p>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BOTTOM -->
      <div class="bottom-frame">
        <div class="tasks" routerLink="/board">
          <div class="details">
            <span>{{ displayNumberOfAllTasks() }}</span>
            <p>
              {{ "summary.taskBoard0" | translate }}<br />{{
                "summary.taskBoard1" | translate
              }}
            </p>
          </div>
        </div>
        <div class="tasks" routerLink="/board">
          <div class="details">
            <span>{{ displayNumberOfTaskStatus("inprogress") }}</span>
            <p>
              {{ "summary.taskProgress0" | translate }}<br />{{
                "summary.taskProgress1" | translate
              }}
            </p>
          </div>
        </div>
        <div class="tasks" routerLink="/board">
          <div class="details">
            <span>{{ displayNumberOfTaskStatus("awaitfeedback") }}</span>
            <p>
              {{ "summary.taskAwaitingFeedback0" | translate }}<br />{{
                "summary.taskAwaitingFeedback1" | translate
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container">
      <p>{{ displayGreeting() }},</p>
      <span id="welcome-user"
        >{{
          this.userService.getUserDetails(
            userService.getCurrentUserId(),
            "firstName"
          )
        }}<br />
        {{
          this.userService.getUserDetails(
            userService.getCurrentUserId(),
            "lastName"
          )
        }}</span
      >
    </div>
  </div>
</section>
