<section>
  <div class="header">
    <div class="title">Join 360</div>
    <div class="blue-bar"></div>
    <div class="metrics-txt">Key Metrics at a Glance</div>
  </div>
  <div class="content">
    <div class="left-container">
      <!-- TOP -->
      <div class="top-frame">
        <div class="todo-done" routerLink="/board">
          <div class="circle">
            <img src="./../../../assets/img/summary/pencil.svg" alt="" />
          </div>
          <div class="details">
            <span>{{ todoTasksCount }}</span>
            <p>To-do</p>
          </div>
        </div>
        <div class="todo-done" routerLink="/board">
          <div class="circle">
            <img src="./../../../assets/img/summary/rake.svg" alt="" />
          </div>
          <div class="details">
            <span>{{ doneTasksCount }}</span>
            <p>Done</p>
          </div>
        </div>
      </div>
      <!-- MIDDLE -->
      <div class="middle-frame">
        <div class="urgent" routerLink="/board">
          <div class="left">
            <img src="./../../../assets/img/summary/urgent.svg" alt="" />
            <div class="details">
              <span>{{ urgentTasksCount }}</span>
              <p>Done</p>
            </div>
          </div>
          <div class="line"></div>
          <div class="right">
            <div class="date">
              <div>
                @if (urgentTasksCount) {
                <span>{{ urgentTasksDate }}</span>
                <p>Upcoming Deadline</p>
                } @else {
                <p>No Deadline</p>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BOTTOM -->
      <div class="bottom-frame">
        <div class="tasks" routerLink="/board">
          <div class="details">
            <span>{{ allTasksCount }}</span>
            <p>Task in Board</p>
          </div>
        </div>
        <div class="tasks" routerLink="/board">
          <div class="details">
            <span>{{ inprogressTasksCount }}</span>
            <p>Task in Progress</p>
          </div>
        </div>
        <div class="tasks" routerLink="/board">
          <div class="details">
            <span>{{ awaitfeedbackTasksCount }}</span>
            <p>Awaiting Feedback</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container">
      <p>Good Morning,</p>
      <span id="welcome-user">Guest</span>
    </div>
  </div>
</section>
