.content {
  display: flex;
  margin-top: 48px;
  width: 100%;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 48px;
  min-width: 0;

  p {
    font-size: 47px;
    font-weight: 500;
  }

  span {
    font-size: 64px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: block;
    color: var(--light-blue);
  }
}

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  height: 562px;
}

.top-container,
.bottom-container {
  display: flex;
  justify-content: space-between;
}

.todo-done,
.urgent,
.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 168px;
  border-radius: 30px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: var(--dark-blue);

    p,
    span {
      color: var(--white);
    }

    .circle {
      background-color: var(--white);

      img {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(30deg)
          brightness(104%) contrast(101%);
      }
    }
  }
}

.urgent {
  width: 560px;

  .right {
    width: 58%;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52%;
  }

  .line {
    height: 100px;
    width: 2px;
    background-color: var(--gray);
  }

  img {
    height: 69px;
    width: 69px;
  }
}

.tasks {
  width: 168px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;

  p {
    padding: 0 24px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  span {
    font-size: 64px;
    font-weight: 700;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 69px;
  width: 69px;
  border-radius: 100%;
  background-color: var(--dark-blue);

  img {
    height: 32px;
    width: 32px;
  }
}

.date {
  display: flex;
  justify-content: center;

  p {
    font-size: 18px;
    font-weight: 400;
  }

  span {
    font-size: 24px;
    font-weight: 700;
  }

  .spacer {
    padding-top: 12px;
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 1150px) {
  .welcome-container {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .summary-container {
    width: auto;
  }

  .todo-done,
  .urgent,
  .tasks {
    width: 50%;
    height: 150px;
    border-radius: 30px;
    padding: 12px;
  }

  .circle {
    margin-left: 10%;
  }

  .urgent {
    margin: 20px 0;
    padding: 6px;
    width: auto;

    img {
      margin-left: 10%;
    }
  }

  .todo-done {
    &:first-child {
      margin-right: 20px;
    }
  }

  .tasks {
    &:nth-child(2) {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 560px) {
  .summary-container {
    height: fit-content;
  }

  .todo-done,
  .tasks {
    height: 120px;

    .circle {
      width: 40px;
      height: 40px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  .urgent {
    height: 120px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .details {
    width: 100px;

    p {
      font-size: 16px;
    }

    span {
      font-size: 38px;
    }
  }

  .tasks {
    .details {
      p {
        padding: 16px 0 0 0;
      }
    }
  }

  .date {
    p {
      font-size: 16px;
    }

    span {
      font-size: 21px;
    }
  }
}

@media screen and (max-width: 470px) {
  .todo-done,
  .urgent,
  .tasks {
    height: 100px;
    border-radius: 30px;
    padding: 6px;

    .line {
      height: 80px;
    }
  }

  .date {
    p {
      font-size: 14px;
    }

    span {
      font-size: 18px;
    }
  }

  .tasks {
    height: 120px;
    border-radius: 30px;
    padding: 6px;
  }
}

@media screen and (max-width: 410px) {
  .todo-done,
  .urgent,
  .tasks {
    height: 100px;
  }

  .details {
    width: 85px;
    p {
      padding: 0 12px;
      font-size: 13px;
    }

    span {
      font-size: 32px;
    }
  }

  .date {
    p {
      font-size: 12px;
    }

    span {
      font-size: 16px;
    }
  }

  .tasks {
    height: 120px;

    .details {
      p {
        padding: 8px 0;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .todo-done,
  .urgent,
  .tasks {
    height: 80px;
  }

  .details {
    width: 70px;

    p {
      font-size: 10px;
    }
  }

  .date {
    p {
      font-size: 11px;
    }

    span {
      font-size: 14px;
    }
  }

  .tasks {
    height: 100px;
  }
}
