<section>
  <img class="logo" src="./assets/img/logo.svg" alt="" />

  <nav>
    <div
      id="navLinkSummary"
      class="nav-links-inner"
      routerLink="summary"
      [ngClass]="{
        active: currentPath == 'summary'
      }"
    >
      <img src="./assets/img/sidebar/summary.svg" alt="sumary" /><span
        >Summary</span
      >
    </div>
    <div
      id="navLinkAddTask"
      class="nav-links-inner"
      routerLink="add-task"
      [ngClass]="{
        active: currentPath == 'add-task'
      }"
    >
      <img src="./assets/img/sidebar/add-task.svg" alt="addtask" /><span
        >Add Task</span
      >
    </div>
    <div
      id="navLinkBoard"
      class="nav-links-inner"
      routerLink="board"
      [ngClass]="{
        active: currentPath == 'board'
      }"
    >
      <img src="./assets/img/sidebar/board.svg" alt="board" /><span>Board</span>
    </div>
    <div
      id="navLinkContacts"
      class="nav-links-inner"
      routerLink="contacts"
      [ngClass]="{
        active: currentPath == 'contacts'
      }"
    >
      <img src="./assets/img/sidebar/contacts.svg" alt="contacts" /><span
        >Contacts</span
      >
    </div>
  </nav>

  <div class="reference">
    <div routerLink="privacy-policy">Privacy Policy</div>
    <div routerLink="imprint">Legal Notice</div>
    <div onclick="logout()">Log out</div>
  </div>
</section>
