<section>
  <img class="logo" src="./assets/img/logo.svg" alt="" />

  <nav>
    <div
      id="navLinkSummary"
      class="nav-links-inner"
      routerLink="summary"
      [ngClass]="{
        'active-nav': currentPath == 'summary',
      }"
    >
      <img src="./assets/img/sidebar/summary.svg" alt="summary" /><span>{{
        "sidebar.summary" | translate
      }}</span>
    </div>
    <div
      id="navLinkAddTask"
      class="nav-links-inner"
      routerLink="add-task"
      [ngClass]="{
        'active-nav': currentPath == 'add-task',
      }"
    >
      <img src="./assets/img/sidebar/add-task.svg" alt="addtask" /><span>{{
        "sidebar.addTask" | translate
      }}</span>
    </div>
    <div
      id="navLinkBoard"
      class="nav-links-inner"
      routerLink="board"
      [ngClass]="{
        'active-nav': currentPath == 'board',
      }"
    >
      <img src="./assets/img/sidebar/board.svg" alt="board" /><span>{{
        "sidebar.board" | translate
      }}</span>
    </div>
    <div
      id="navLinkContacts"
      class="nav-links-inner"
      routerLink="contacts"
      [ngClass]="{
        'active-nav': currentPath == 'contacts',
      }"
    >
      <img src="./assets/img/sidebar/contacts.svg" alt="contacts" /><span>{{
        "sidebar.contacts" | translate
      }}</span>
    </div>
  </nav>

  <div class="reference">
    <a
      routerLink="privacy-policy"
      [ngClass]="{
        'active-link': currentPath === 'privacy-policy'
      }"
    >
      {{ "sidebar.privacyPolicy" | translate }}
    </a>
    <a
      routerLink="imprint"
      [ngClass]="{
        'active-link': currentPath === 'imprint'
      }"
    >
      {{ "sidebar.legalNotice" | translate }}
    </a>
    <a (click)="logout()">{{ "sidebar.logout" | translate }}</a>
  </div>
</section>
