<section>
  <img class="logo" src="./assets/img/sidebar/logo.svg" alt="" />

  <nav>
    <div id="navLinkSummary" class="nav-links-inner" routerLink="summary">
      <img src="./assets/img/sidebar/summary.svg" alt="sumary" /><span
        >Summary</span
      >
    </div>
    <div id="navLinkAddTask" class="nav-links-inner">
      <img src="./assets/img/sidebar/add-task.svg" alt="addtask" /><span
        >Add Task</span
      >
    </div>
    <div id="navLinkBoard" class="nav-links-inner">
      <img src="./assets/img/sidebar/board.svg" alt="board" /><span>Board</span>
    </div>
    <div id="navLinkContacts" class="nav-links-inner">
      <img src="./assets/img/sidebar/contacts.svg" alt="contacts" /><span
        >Contacts</span
      >
    </div>
  </nav>

  <div class="reference">
    <div routerLink="privacy-policy">Privacy Policy</div>
    <div>Legal Notice</div>
    <div onclick="logout()">Log out</div>
  </div>
</section>
