section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
  height: 100%;
  background-color: var(--bgSidebar);
}

.logo {
  width: 100px;
  height: auto;
  margin: 66px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 232px;
}

.nav-links-inner {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 4px 0;
  padding-left: 56px;
  height: 46px;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
    padding-right: 8px;
  }
  span {
    text-align: center;
    font-size: 16px;
    color: var(--light-gray);
  }
  &:hover {
    background-color: var(--very-dark-blue);
  }
  &:active {
    background-color: var(--very-dark-blue);
  }
}

.active {
  background-color: var(--very-dark-blue);
}

.switch-language {
  padding-left: 43px;
}

.reference {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  p {
    width: fit-content;
    padding: 8px;
    margin: 12px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--light-gray);
    cursor: pointer;
    &:hover {
      color: var(--light-blue);
    }
  }
}
