<div class="input-container">
  @if (class == "btn-google") {
  <div class="google-image"></div>
  }
  <input
    class="{{ class }}"
    type="{{ type }}"
    value="{{ value }}"
    [disabled]="disabled"
    [style.padding-right.px]="
      img == 'check' && !disabled ? '44' : img !== '' && !disabled ? '36' : ''
    "
    [style.padding-left.px]="class == 'btn-google' ? '52' : ''"
  />
  <div
    class="background-image"
    [ngStyle]="{
      '--filter': imgFilter,
      'background-image': disabled
        ? 'none'
        : 'url(./../../../../../assets/img/' + img + '.svg)',
    }"
  ></div>
</div>
