<div class="header">
  <img class="logo" src="./../../../../assets/img/header/logo.svg" alt="logo" />
  <div class="headline">{{ "header.headline" | translate }}</div>
  <div class="navbar">
    <div class="img-help">
      <img
        routerLink="help"
        src="./../../../../assets/img/header/help.svg"
        alt=""
      />
    </div>
    <div class="img-language">
      <img
        class="img-lang"
        (click)="toggleLanguage()"
        src="./../../../../assets/img/header/language.svg"
        alt=""
      />
    </div>
    <div class="img-user" (click)="toggleNavbar()">
      {{ currentUser?.initials || "" }}
    </div>
  </div>
</div>
<app-navbar *ngIf="navbarVisible" [navbarVisible]="navbarVisible"></app-navbar>
<app-navbar
  *ngIf="navbarLanguageVisible"
  [navbarLanguageVisible]="navbarLanguageVisible"
></app-navbar>
