<section>
  <div class="header">
    <img
      class="logo"
      src="./../../../../assets/img/header/logo.svg"
      alt="logo"
    />
    <div class="headline">{{ "header.headline" | translate }}</div>
    <div class="left-frame">
      <div class="img-help" routerLink="help">
        <img src="./../../../../assets/img/header/help.svg" alt="" />
      </div>
      <div class="img-language" (click)="toggleLanguage()">
        <img src="./../../../../assets/img/header/language.svg" alt="" />
      </div>
      <div class="img-user" (click)="toggleNavbar()">G</div>
    </div>
  </div>
</section>
<app-navbar *ngIf="navbarVisible" [navbarVisible]="navbarVisible"></app-navbar>
<app-navbar
  *ngIf="navbarLanguageVisible"
  [navbarLanguageVisible]="navbarLanguageVisible"
></app-navbar>
