<section>
  <div class="header">
    <img
      class="logo"
      src="./../../../../assets/img/header/logo.svg"
      alt="logo"
    />
    <div class="headline">Kanban Project Management Tool</div>
    <div class="left-frame">
      <div class="img-help" routerLink="help">
        <img src="./../../../../assets/img/sidebar/help.svg" alt="" />
      </div>
      <div class="img-user" (click)="toggleNavbar()">G</div>
    </div>
  </div>
</section>
<app-navbar *ngIf="navbarVisible"></app-navbar>
