<section>
  <div class="header">
    <div
      class="category"
      [style.background-color]="
        categoryColors.get(getTask(overlayData)[0].category)
      "
    >
      {{ getTask(overlayData)[0].category }}
    </div>
    <app-btn-close (click)="sendMessage()"></app-btn-close>
  </div>
  <div class="headline">{{ getTask(overlayData)[0].title }}</div>
  <div class="description">
    {{ getTask(overlayData)[0].description }}
  </div>
  <div class="date">
    <p>Due date:</p>
    {{ timeConverter(getTask(overlayData)[0].date) }}
  </div>
  <div class="priority">
    <p>Priority:</p>
    {{ capitalizeFirstLetter(getTask(overlayData)[0].priority) }}
    <div class="priority-bg prio-{{ getTask(overlayData)[0].priority }}"></div>
  </div>
  <div class="assigned">
    <p>Assigned to:</p>
    @for (user of getTask(overlayData)[0].assigned; track user; let index =
    $index) {
    <div class="content">
      <div
        class="circle"
        [ngStyle]="{
          'background-color': firebaseService.getUserDetails(user, 'color')
        }"
      >
        <div class="initials">
          {{ firebaseService.getUserDetails(user, "initials") }}
        </div>
      </div>
      <div class="details">
        <div class="name">
          <p>
            {{ firebaseService.getUserDetails(user, "firstName") }}
          </p>
          <span>,&nbsp;</span>
          <p class="last-name">
            {{ firebaseService.getUserDetails(user, "lastName") }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
</section>
