section {
  position: relative;
}

.btn-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  width: 300px;
  padding: 8px 8px 8px 16px;
  margin-left: 45px;
  border-radius: 10px;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  &:hover {
    background-color: var(--light-blue);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  }
  img {
    padding-left: 12px;
  }
}

.left-frame {
  position: absolute;
  top: -64px;
  left: -64px;
  width: 400px;
  min-height: calc(100vh - 128px);
  background-color: var(--white);
  padding-top: 32px;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.first-letter {
  font-size: 20px;
  font-weight: 400;
  padding-left: 38px;
  margin: 32px 0 12px 0;
}

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 6px;
  background-color: var(--light-gray);
}

.contact {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: var(--very-light-gray);
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  .initials {
    color: var(--white);
    text-shadow: 1px 1px 2px var(--black);
  }
}

.details {
  margin-left: 32px;
  p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 6px;
  }
  a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--light-blue);
  }
}

.right-frame {
  position: absolute;
  top: -64px;
  left: 339px;
  width: calc(100vw - 635px);
  min-height: calc(100vh - 128px);
  padding: 64px 48px 48px 48px;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 910px) {
  .left-frame {
    position: fixed;
    top: 96px;
    left: 0px;
    width: 100vw;
    min-height: calc(100vh - 207px);
    background-color: var(--bgContent);
  }
}
