<section>
  <div class="left-frame">
    <button class="btn" type="submit">
      <div class="btn-inside">
        <span>Add new contact</span>
        <img src="./../../../assets/img/contact/add.svg" alt="check" />
      </div>
    </button>

    <div class="content">
      @for (sortLetter of usersFirstLetter; track allUsers) {
      <div class="first-letter">{{ sortLetter }}</div>
      <div class="line"></div>
      @for (count of usersByFirstLetter[sortLetter]; track usersByFirstLetter;
      let index = $index) {
      <div class="contact">
        <div
          class="circle"
          [ngStyle]="{
            'background-color': displayInitialsColor(
              usersByFirstLetter[sortLetter][index]
            )
          }"
        >
          <div class="initials">
            {{ displayInitials(usersByFirstLetter[sortLetter][index]) }}
          </div>
        </div>
        <div class="details">
          <p>{{ displayUserName(usersByFirstLetter[sortLetter][index]) }}</p>
          <a href="tel:">asdasdasd</a>
        </div>
      </div>
      } }
    </div>
  </div>
</section>
