<section>
  <div class="left-frame">
    <button class="btn" type="submit">
      <div class="btn-inside">
        <span>Add new contact</span>
        <img src="./../../../assets/img/contact/add.svg" alt="check" />
      </div>
    </button>

    <div class="content">
      @for (sortLetter of usersFirstLetter; track allUsers) {
      <div class="first-letter">{{ sortLetter }}</div>
      <div class="line"></div>
      @for (count of usersByFirstLetter[sortLetter]; track usersByFirstLetter;
      let index = $index) {
      <div
        class="contact"
        routerLink="/contacts/{{ usersByFirstLetter[sortLetter] }}"
      >
        <div
          class="circle"
          [ngStyle]="{
            'background-color': userService.displayUserDetails(
              usersByFirstLetter[sortLetter][index],
              'color'
            )
          }"
        >
          <div class="initials">
            {{
              userService.displayUserDetails(
                usersByFirstLetter[sortLetter][index],
                "initials"
              )
            }}
          </div>
        </div>
        <div class="details">
          <p>
            {{
              userService.displayUserName(usersByFirstLetter[sortLetter][index])
            }}
          </p>
          <span>
            {{
              userService.displayUserDetails(
                usersByFirstLetter[sortLetter][index],
                "email"
              )
            }}
          </span>
        </div>
      </div>
      } }
    </div>
  </div>
  @if (paramsId) {
  <app-contact-detail></app-contact-detail>
  }
</section>
