<section>
  @if (filteredUsers.length === 0) {
  <div class="no-users">
    <p>No users found</p>
  </div>
  } @else { @for (user of filteredUsers; track user.id) { @if (user.id) {
  <div
    class="user-item"
    (click)="toggleAssignee(user.id)"
    [ngClass]="{ selected: assignedUserIds.has(user.id) }"
  >
    <div class="circle" [ngStyle]="{ 'background-color': user.color }">
      <div class="initials">{{ user.initials }}</div>
    </div>
    <div class="details">
      <div class="name">
        <p>{{ user.firstName }}</p>
        <span>,&nbsp;</span>
        <p class="last-name">{{ user.lastName }}</p>
      </div>
    </div>
    <div class="checkbox">
      <img
        class="checkbox-img"
        [src]="
          assignedUserIds.has(user.id)
            ? './../../../../assets/img/add-task/checkbox-checked.svg'
            : './../../../../assets/img/add-task/checkbox-empty.svg'
        "
        alt=""
      />
    </div>
  </div>
  } } }
</section>
