.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 999;
  opacity: 0;

  &.show {
    opacity: 1;
    pointer-events: auto;

    & > .overlay-content {
      transform: scale(1) translateY(0);
      opacity: 1;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        opacity 0.4s ease-out;
    }
  }

  &.closing {
    opacity: 0;
    pointer-events: none;

    & > .overlay-content {
      transform: scale(0.95) translateY(20px);
      opacity: 0;
      transition: transform 0.4s ease-in, opacity 0.4s ease-out;
    }
  }
}

.overlay-content {
  transform: scale(0.95) translateY(20px);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
