<div
  class="overlay"
  [class.show]="shouldShowOverlay"
  [class.closing]="isClosingAnimation"
>
  <div class="overlay-content">
    @if (overlayType === "taskOverlay") {
    <app-task-overlay
      [overlayData]="overlayData"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-task-overlay>
    } @if (overlayType === "taskOverlayEdit") {
    <app-task-edit-overlay
      [overlayData]="overlayData"
      [overlayType]="overlayType"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-task-edit-overlay>
    } @if (overlayType === "newTaskOverlay") {
    <app-task-edit-overlay
      [overlayData]="overlayData"
      [overlayType]="overlayType"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-task-edit-overlay>
    } @if (overlayType === "dialogOverlay") {
    <app-dialog-overlay
      [overlayData]="overlayData"
      [overlayType]="overlayType"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-dialog-overlay>
    } @if (overlayType === "contactOverlay") {
    <app-contact-overlay
      [overlayData]="overlayData"
      [overlayType]="overlayType"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-contact-overlay>
    }
  </div>
</div>
