<div
  class="overlay"
  [class.show]="shouldShowOverlay"
  [class.closing]="isClosingAnimation"
>
  <div class="overlay-content">
    @switch (overlayType) { @case ('taskOverlay') {
    <app-task-overlay
      [overlayData]="overlayData"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-task-overlay>
    } @case ('taskOverlayEdit') {
    <app-task-edit-overlay
      [overlayData]="overlayData"
      [overlayType]="overlayType"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-task-edit-overlay>
    } @case ('newTaskOverlay') {
    <app-task-edit-overlay
      [overlayData]="overlayData"
      [overlayType]="overlayType"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-task-edit-overlay>
    } @case ('dialogOverlay') {
    <app-dialog-overlay
      [overlayData]="overlayData"
      [overlayType]="overlayType"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-dialog-overlay>
    } @case ('contactOverlay') {
    <app-contact-overlay
      [overlayData]="overlayData"
      [overlayType]="overlayType"
      (closeDialogEmitter)="onCloseOverlay()"
    ></app-contact-overlay>
    } @default { } }
  </div>
</div>
