section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-msg {
  min-height: 18px;
  padding: 6px;
  margin-left: 12px;
  p {
    color: var(--red);
    font-size: 12px;
    font-weight: 400;
  }
}

.name {
  display: flex;
}

.contact-formular {
  display: flex;
  flex-direction: column;
  min-width: 480px;
  input {
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding: 12px;
    margin: 0 12px;
    width: 90%;
    &:hover {
      border-color: var(--light-blue);
    }
    &:focus {
      border-color: var(--light-blue);
      outline: none;
    }
  }
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 800px) {
  .name {
    flex-direction: column;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .name {
    width: 100%;
  }

  .contact-formular {
    min-width: 0;
    input {
      width: 85%;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 400px) {
  .contact-formular {
    width: 270px;
    input {
      width: 80%;
      font-size: 16px;
    }
    .btn-delete {
      font-size: 18px;
    }
    .btn-save {
      font-size: 18px;
    }
  }

  .btn {
    margin: 0 6px;
  }
}
