<section>
  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    onsubmit="return false"
    class="contact-formular"
  >
    <div class="name">
      <input
        id="firstName"
        type="text"
        class="firstName"
        name="firstName"
        #firstName="ngModel"
        placeholder="{{ contactData.firstName }}"
        [(ngModel)]="contactData.firstName"
        autocomplete="off"
        required
      />
      <input
        id="lastName"
        type="text"
        class="lastName"
        name="lastName"
        #lastName="ngModel"
        placeholder="{{ contactData.lastName }}"
        [(ngModel)]="contactData.lastName"
        autocomplete="off"
        required
      />
    </div>
    @if ((!firstName.valid && firstName.touched) && (!lastName.valid &&
    lastName.touched)) {
    <span>{{ "contact-dialog-form.invalid-name" | translate }}</span>
    } @else { @if (!firstName.valid && firstName.touched) {
    <span>{{ "contact-dialog-form.invalid-firstName" | translate }}</span>
    } @else { @if (!lastName.valid && lastName.touched) {
    <span>{{ "contact-dialog-form.invalid-lastName" | translate }}</span>
    } } }
    <input
      id="email"
      type="email"
      name="email"
      #email="ngModel"
      placeholder="{{ contactData.email }}"
      [(ngModel)]="contactData.email"
      autocomplete="off"
      required
    />
    @if (!email.valid && email.touched) {
    <span>{{ "contact-dialog-form.invalid-email" | translate }}</span>
    }
    <input
      id="phone"
      type="phone"
      name="phone"
      #phone="ngModel"
      placeholder="{{ contactData.phone }}"
      [(ngModel)]="contactData.phone"
      autocomplete="off"
      required
    />
    @if (!phone.valid && phone.touched) {
    <span>{{ "contact-dialog-form.invalid-phone" | translate }}</span>
    }
    <div class="btns">
      <app-form-btn
        class="btn-delete"
        type="button"
        value="{{ 'contact-dialog-form.btn-delete' | translate }}"
        (click)="deleteContact()"
      ></app-form-btn>
      <app-form-btn
        [class]="'btn-submit'"
        [type]="'submit'"
        [img]="'check'"
        [imgFilter]="'none'"
        value="{{ 'contact-dialog-form.btn-save' | translate }}"
        [disabled]="
          firstName.invalid ||
          !contactData.firstName ||
          lastName.invalid ||
          !contactData.lastName ||
          email.invalid ||
          !contactData.email ||
          phone.invalid ||
          !contactData.phone
        "
      ></app-form-btn>
    </div>
  </form>
</section>
