<section>
  <nav>
    <div
      class="nav-links"
      routerLink="summary"
      [ngClass]="{
        active: currentPath == 'summary'
      }"
    >
      <img
        src="./../../../../../assets/img/sidebar/summary.svg"
        alt="summary"
      />
      <p>{{ "sidebar.summary" | translate }}</p>
    </div>
    <div
      class="nav-links"
      routerLink="board"
      [ngClass]="{
        active: currentPath == 'board'
      }"
    >
      <img src="./../../../../../assets/img/sidebar/board.svg" alt="board" />
      <p>{{ "sidebar.board" | translate }}</p>
    </div>
    <div
      class="nav-links"
      routerLink="add-task"
      [ngClass]="{
        active: isAddTask()
      }"
    >
      <img
        src="./../../../../../assets/img/sidebar/add-task.svg"
        alt="addtask"
      />
      <p>{{ "sidebar.addTaskMobile" | translate }}</p>
    </div>
    <div
      class="nav-links"
      routerLink="contacts"
      [ngClass]="{
        active: currentPath == 'contacts'
      }"
    >
      <img
        src="./../../../../../assets/img/sidebar/contacts.svg"
        alt="contacts"
      />
      <p>{{ "sidebar.contacts" | translate }}</p>
    </div>
  </nav>
</section>
