section {
  margin: 0;
  background-color: var(--very-light-gray);
  padding-bottom: 32px;
}

.title {
  font-size: 61px;
  font-weight: 700;
  padding-right: 24px;
}

/*------------- HEADER -------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1178px;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  .search-inner {
    position: relative;
    input {
      width: 312px;
      padding: 8px 16px;
      align-items: center;
      border-radius: 10px;
      border: 1px solid var(--gray);
    }
    .line {
      position: absolute;
      top: 8px;
      right: 30px;
      height: 18px;
      width: 1px;
      background-color: var(--gray);
      margin: 0 6px;
    }
    .icon-clear {
      position: absolute;
      top: 7px;
      right: 10px;
      cursor: pointer;
      &:hover {
        filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg);
      }
      filter: invert(41%) sepia(8%) saturate(762%) hue-rotate(176deg)
        brightness(94%) contrast(86%);
      width: 20px;
      height: 20px;
    }
    .icon-search {
      position: absolute;
      top: 4px;
      right: 8px;
      filter: invert(41%) sepia(8%) saturate(762%) hue-rotate(176deg)
        brightness(94%) contrast(86%);
      width: 25px;
      height: 25px;
    }
  }
}

d-none {
  display: none;
}

.btn-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-right: 4px;
  }
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  width: fit-content;
  padding: 8px 8px 8px 16px;
  border-radius: 10px;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  margin-left: 16px;
  &:hover {
    background-color: var(--light-blue);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  }
}

/*------------- HEADLINE -------------*/

.content {
  max-width: 1210px;
}

.status {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 48px;
}

.headline {
  display: flex;
  justify-content: space-between;
  min-width: 246px;
  span {
    color: var(--blue-gray);
    font-size: 20px;
    font-weight: 700;
  }
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
      filter: brightness(0) saturate(100%) invert(56%) sepia(64%) saturate(570%)
        hue-rotate(154deg) brightness(92%) contrast(92%);
    }
  }
}

/*------------- CONTENT -------------*/

.column {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-right: 32px;
  padding-top: 6px;
  &:first-child {
    padding-left: 0;
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 1100px) {
  .search {
    .search-inner {
      input {
        width: 220px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .search {
    .search-inner {
      input {
        width: 150px;
      }
    }
  }

  .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 910px) {
  .search {
    .search-inner {
      input {
        width: 280px;
      }
    }
  }

  .status {
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-bottom: 24px;
  }

  .search {
    width: 100%;
    .search-inner {
      width: 100%;
      input {
        width: calc(100% - 34px);
      }
    }
  }

  .btn {
    position: absolute;
    top: -75px;
    right: 0px;
    width: 40px;
    height: 40px;
    padding: 3px;
    span {
      display: none;
    }
  }
}

@media screen and (max-width: 667px) {
  .column {
    width: 100%;
    padding-right: 0;
  }

  app-task-empty {
    width: 100%;
    max-width: 100%;
  }

  .details {
    display: flex;
    width: calc(100vw - 85px);
    overflow-x: auto;
    padding: 0 5px;
  }

  app-task {
    padding-right: 16px;
  }
}

@media screen and (max-width: 450px) {
  .details {
    width: calc(100vw - 55px);
  }
}
