section {
  margin: 0;
  background-color: var(--very-light-gray);
}

.title {
  font-size: 61px;
  font-weight: 700;
  padding-right: 24px;
}

/*------------- HEADER -------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 32px;
  input {
    width: 312px;
    padding: 8px 16px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--gray);
    background-color: var(--white);
    background-image: url("./../../../assets/img/board/search.svg");
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 24px;
  }
}

.line {
  position: absolute;
  top: 8px;
  right: 250px;
  height: 18px;
  width: 1px;
  background-color: var(--gray);
  margin: 0 6px;
}

.btn-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-right: 4px;
  }
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  width: 165px;
  padding: 8px 8px 8px 16px;
  border-radius: 10px;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  margin-left: 16px;
  &:hover {
    background-color: var(--light-blue);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  }
}

/*------------- HEADLINE -------------*/

.content {
  max-width: calc(1080px + 32px);
}

.status {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 48px;
}

.headline {
  display: flex;
  justify-content: space-between;
  min-width: 246px;
  span {
    color: var(--blue-gray);
    font-size: 20px;
    font-weight: 700;
  }
  img {
    border-radius: 8px;
    border: 2px solid var(--dark-blue);
    cursor: pointer;
    &:hover {
      filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg);
    }
  }
}

/*------------- CONTENT -------------*/

.column {
  display: flex;
  flex-direction: column;
  padding-right: 32px;
  &:first-child {
    padding-left: 0;
  }
}
