<section>
  <div class="header">
    <div class="title">Board</div>
    <div class="search">
      <div>
        <input
          #searchField
          id="search-task"
          type="text"
          placeholder="Find Task"
          [(ngModel)]="searchValue"
          (input)="searchTask()"
        />
        <span>
          @if (this.searchInput) {
          <img
            src="./../../../assets/img/board/clear.svg"
            class="icon-clear"
            alt="clear"
            (click)="clearInput()"
          />
          } @else {
          <img
            src="./../../../assets/img/board/search.svg"
            class="icon-search"
            alt="search"
          />}</span
        >
        <span class="line"></span>
      </div>
      <button class="btn" type="submit" (click)="addNewTaskOverlay()">
        <div class="btn-inside">
          <span>Add Task</span>
          <img src="./../../../assets/img/board/add_white.svg" alt="check" />
        </div>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="status">
      <div
        class="column"
        (dragover)="dragDropService.allowDrop($event)"
        (drop)="dragDropService.drop($event, 'todo')"
      >
        <div class="headline">
          <span>To do</span
          ><img src="./../../../assets/img/board/plus.svg" alt="add" />
        </div>
        <div id="todo" class="details">
          @for(task of getTaskStatus("todo"); track task) {
          <app-task [task]="task"></app-task>
          } @empty {
          <app-task-empty>No tasks</app-task-empty>
          }
        </div>
      </div>
      <div
        class="column"
        (dragover)="dragDropService.allowDrop($event)"
        (drop)="dragDropService.drop($event, 'inprogress')"
      >
        <div class="headline">
          <span>In progress</span
          ><img src="./../../../assets/img/board/plus.svg" alt="add" />
        </div>
        <div id="inprogress" class="details">
          @for(task of getTaskStatus("inprogress"); track task) {
          <app-task [task]="task"></app-task>
          } @empty {
          <app-task-empty>No tasks</app-task-empty>
          }
        </div>
      </div>
      <div
        class="column"
        (dragover)="dragDropService.allowDrop($event)"
        (drop)="dragDropService.drop($event, 'awaitfeedback')"
      >
        <div class="headline">
          <span>Await feedback</span
          ><img src="./../../../assets/img/board/plus.svg" alt="add" />
        </div>
        <div id="awaitfeedback" class="details">
          @for(task of getTaskStatus("awaitfeedback"); track task) {
          <app-task [task]="task"></app-task>
          } @empty {
          <app-task-empty>No tasks</app-task-empty>
          }
        </div>
      </div>
      <div
        class="column"
        (dragover)="dragDropService.allowDrop($event)"
        (drop)="dragDropService.drop($event, 'done')"
      >
        <div class="headline">
          <span>Done</span
          ><img src="./../../../assets/img/board/plus.svg" alt="add" />
        </div>
        <div id="done" class="details">
          @for(task of getTaskStatus("done"); track task) {
          <app-task [task]="task"></app-task>
          } @empty {
          <app-task-empty>No tasks</app-task-empty>
          }
        </div>
      </div>
    </div>
    <div id="content-tasks"></div>
  </div>
</section>
