<section>
  <div class="header">
    <div class="title">{{ "board.headline" | translate }}</div>
    <div class="search">
      <div>
        <input
          #searchField
          id="search-task"
          type="text"
          placeholder="{{ 'board.findTask' | translate }}"
          [(ngModel)]="searchValue"
          (input)="searchTask()"
        />
        <span>
          @if (this.searchInput) {
          <img
            src="./../../../assets/img/board/clear.svg"
            class="icon-clear"
            alt="clear"
            (click)="clearInput()"
          />
          } @else {
          <img
            src="./../../../assets/img/board/search.svg"
            class="icon-search"
            alt="search"
          />}</span
        >
        <span class="line"></span>
      </div>
      <button class="btn" type="submit" (click)="addNewTaskOverlay('none')">
        <div class="btn-inside">
          <span>{{ "board.addTask" | translate }}</span>
          <img src="./../../../assets/img/board/add_white.svg" alt="check" />
        </div>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="status">
      <div
        class="column"
        (dragover)="dragDropService.allowDrop($event)"
        (drop)="dragDropService.drop($event, 'todo')"
      >
        <div class="headline">
          <span>{{ "board.todo" | translate }}</span
          ><img
            src="./../../../assets/img/board/plus.svg"
            alt="add"
            (click)="addNewTaskOverlay('todo')"
          />
        </div>
        <div id="todo" class="details">
          @for(task of getTaskStatus("todo"); track task) {
          <app-task [task]="task"></app-task>
          } @empty {
          <app-task-empty>{{ "board.noTasks" | translate }}</app-task-empty>
          }
        </div>
      </div>
      <div
        class="column"
        (dragover)="dragDropService.allowDrop($event)"
        (drop)="dragDropService.drop($event, 'inprogress')"
      >
        <div class="headline">
          <span>{{ "board.inProgress" | translate }}</span
          ><img
            src="./../../../assets/img/board/plus.svg"
            alt="add"
            (click)="addNewTaskOverlay('inprogress')"
          />
        </div>
        <div id="inprogress" class="details">
          @for(task of getTaskStatus("inprogress"); track task) {
          <app-task [task]="task"></app-task>
          } @empty {
          <app-task-empty>{{ "board.noTasks" | translate }}</app-task-empty>
          }
        </div>
      </div>
      <div
        class="column"
        (dragover)="dragDropService.allowDrop($event)"
        (drop)="dragDropService.drop($event, 'awaitfeedback')"
      >
        <div class="headline">
          <span>{{ "board.awaitFeedback" | translate }}</span
          ><img
            src="./../../../assets/img/board/plus.svg"
            alt="add"
            (click)="addNewTaskOverlay('awaitfeedback')"
          />
        </div>
        <div id="awaitfeedback" class="details">
          @for(task of getTaskStatus("awaitfeedback"); track task) {
          <app-task [task]="task"></app-task>
          } @empty {
          <app-task-empty>{{ "board.noTasks" | translate }}</app-task-empty>
          }
        </div>
      </div>
      <div
        class="column"
        (dragover)="dragDropService.allowDrop($event)"
        (drop)="dragDropService.drop($event, 'done')"
      >
        <div class="headline">
          <span>{{ "board.done" | translate }}</span
          ><img
            src="./../../../assets/img/board/plus.svg"
            alt="add"
            (click)="addNewTaskOverlay('done')"
          />
        </div>
        <div id="done" class="details">
          @for(task of getTaskStatus("done"); track task) {
          <app-task [task]="task"></app-task>
          } @empty {
          <app-task-empty>{{ "board.noTasks" | translate }}</app-task-empty>
          }
        </div>
      </div>
    </div>
    <div id="content-tasks"></div>
  </div>
</section>
