<section>
  <div class="dialog">
    <div class="header">
      <img src="./../../../../assets/img/logo.svg" alt="" />
      <p>Edit contact</p>
    </div>
    <div class="content">
      <div class="badge">
        <div
          class="circle"
          [ngStyle]="{
            'background-color': userService.getUserDetails(
              currentUserId,
              'color'
            )
          }"
        >
          <div class="initials">
            {{ userService.getUserDetails(currentUserId, "initials") }}
          </div>
        </div>
      </div>
      <div class="form">
        <app-contact-form [currentUserId]="currentUserId"></app-contact-form>
      </div>
    </div>
  </div>
</section>
