section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: var(--white);
  width: 760px;
  height: auto;
  border-radius: 26px;
  border: 2px solid rgba($color: #000000, $alpha: 0.1);
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--bgSidebar);
  height: 72px;
  padding: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  color: var(--white);
  img {
    width: 54px;
    height: 66px;
  }
  p {
    width: 100%;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 332px;
  padding: 24px;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-bottom: 115px;
}

.picker {
  position: relative;
  input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 2px solid var(--white);
    z-index: 1;
    cursor: pointer;
  }
}

.initials {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 120px;
  height: fit-content;
  text-align: center;
  font-size: 47px;
  font-weight: 500;
  color: var(--white);
  padding-left: 4px;
  text-shadow: 1px 1px 2px var(--black);
  z-index: 2;
}

.notice {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 0 12px 12px 12px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

@media screen and (max-width: 800px) {
  .dialog {
    width: 560px;
    position: relative;
  }

  .badge {
    position: absolute;
    top: 115px;
    right: 40px;
    padding-bottom: 0;
  }

  .content {
    flex-direction: column-reverse;
  }

  .initials {
    font-size: 42px;
  }

  .header {
    height: 42px;
    img {
      width: 34px;
      height: 46px;
    }
    p {
      font-size: 42px;
    }
  }
}

@media screen and (max-width: 600px) {
  .dialog {
    width: 380px;
  }

  .badge {
    top: 85px;
    right: 120px;
  }

  .content {
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .picker {
    position: absolute;
    top: -5px;
    left: 0;
    input {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      border: 2px solid var(--white);
    }
  }

  .initials {
    font-size: 32px;
    width: 80px;
  }

  .header {
    height: 80px;
    p {
      font-size: 28px;
      padding-bottom: 24px;
    }
    img {
      display: none;
    }
    app-btn-close {
      padding-bottom: 24px;
    }
  }
}

@media screen and (max-width: 400px) {
  .dialog {
    width: 300px;
  }

  .badge {
    right: 95px;
  }

  .header {
    p {
      font-size: 22px;
    }
  }
}
