section {
  width: 100vw;
  height: 100vh;
}

// REGISTER

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 422px;
  height: fit-content;
  background: var(--white);
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 48px 96px;
  p {
    font-size: 61px;
    font-weight: 700;
    position: relative;
  }
  .line {
    img {
      width: 150px;
    }
    padding: 0 0 24px 0;
  }
}

.headline {
  position: relative;
  text-align: center;
  app-btn-back {
    position: absolute;
    top: 20px;
    left: -150px;
  }
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  .custom-input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
  }
  .custom-input {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    padding: 12px 21px;
  }
  .custom-img {
    &:nth-child(2) {
      position: absolute;
      right: 0;
      top: 15px;
    }
    &:nth-child(5) {
      position: absolute;
      right: 0;
      top: 102px;
    }
    &:nth-child(8) {
      position: absolute;
      right: 0;
      top: 186px;
    }
    &:nth-child(11) {
      position: absolute;
      right: 0px;
      top: 272px;
    }
  }
  .passwordEye {
    position: absolute;
    right: -5px;
    top: 186px;
  }
  .passwordEyeConfirm {
    position: absolute;
    right: -5px;
    top: 272px;
  }
  .custom-input:focus + .custom-img {
    display: none;
  }
}

.error-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 6px;
  width: 120%;
  p {
    color: var(--red);
    font-size: 12px !important;
    font-weight: 400 !important;
  }
}

.form-buttons {
  display: flex;
  justify-content: end;
}

.privacy-policy {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 15px;
    appearance: none;
    border: 0;
    border-radius: 0;
    background-image: url("./../../../../assets/img/login/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &:checked {
      background-image: url("./../../../../assets/img/login/checkbox-checked.svg");
      &:hover {
        background-image: url("./../../../../assets/img/login/checkbox-checked-hover.svg");
      }
    }
    &:hover {
      background-image: url("./../../../../assets/img/login/checkbox-hover.svg");
    }
  }
  .label {
    p {
      font-size: 14px;
      font-weight: 400;
      padding-right: 20px;
    }
    a {
      text-decoration: none;
      color: var(--light-blue);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 650px) {
  .content {
    width: 322px;
    height: fit-content;
    padding: 24px 48px;
    p {
      font-size: 47px;
    }
    .line {
      img {
        width: 125px;
      }
    }
  }

  .headline {
    app-btn-back {
      position: absolute;
      top: 10px;
      left: -100px;
    }
  }
}

@media (max-height: 550px) {
  .content {
    top: 45%;
  }
}

@media screen and (max-width: 450px) {
  .content {
    width: 252px;
    height: fit-content;
    padding: 12px 24px;
    p {
      font-size: 36px;
    }
    .line {
      img {
        width: 100px;
      }
    }
  }

  .headline {
    app-btn-back {
      position: absolute;
      top: 5px;
      left: -70px;
    }
  }

  .input-fields {
    .custom-input {
      font-size: 16px;
    }
    .custom-img {
      &:nth-child(2) {
        top: 15px;
      }
      &:nth-child(5) {
        top: 90px;
      }
      &:nth-child(8) {
        top: 162px;
      }
      &:nth-child(11) {
        top: 237px;
      }
    }
    .passwordEye {
      top: 162px;
    }
    .passwordEyeConfirm {
      top: 237px;
    }
  }

  .input-fields {
    width: 80%;
  }

  .error-msg {
    height: 18px;
    p {
      font-size: 10px !important;
    }
  }

  .privacy-policy {
    .label {
      p {
        font-size: 12px;
      }
    }
  }
}
