<section>
  <app-header [signUpBtn]="false"></app-header>
  <form
    id="form"
    #taskForm="ngForm"
    (ngSubmit)="onSubmit(taskForm)"
    onsubmit="return false"
  >
    <div class="content">
      <div class="headline">
        <app-btn-back></app-btn-back>
        <p>Sign up</p>
        <img src="./../../../assets/img/login/blue-line.svg" alt="" />
      </div>
      <div class="input-fields">
        <input
          type="name"
          id="name"
          name="name"
          #name="ngModel"
          placeholder="Name"
          class="custom-input"
          [(ngModel)]="registerData.name"
          required
        />
        @if(!registerData.name) {
        <img
          class="custom-img"
          src="./../../../assets/img/login/user.svg"
          alt=""
        />
        } @else {
        <img class="custom-img" alt="" />
        }
        <div class="error-msg">
          @if (!name.valid && name.touched) {
          <p>You must enter a name.</p>
          }
        </div>
        <input
          type="mail"
          id="mail"
          name="mail"
          #mail="ngModel"
          placeholder="Email"
          class="custom-input"
          [(ngModel)]="registerData.mail"
          required
        />
        @if(!registerData.mail) {
        <img
          class="custom-img"
          src="./../../../assets/img/login/mail.svg"
          alt=""
        />
        } @else {
        <img class="custom-img" alt="" />
        }
        <div class="error-msg">
          @if (!mail.valid && mail.touched) {
          <p>You must enter a mail.</p>
          } @else { @if (existEmailonServer(registerData.mail).length > 0) {
          <p>This email already exists.</p>
          } }
        </div>
        <input
          type="password"
          id="password"
          name="password"
          #password="ngModel"
          [type]="loginSerivce.passwordFieldType"
          placeholder="Password"
          class="custom-input"
          [(ngModel)]="registerData.password"
          required
        />
        @if(!registerData.password) {
        <img
          class="custom-img"
          src="./../../../assets/img/login/lock.svg"
          alt=""
        />
        } @else {
        <img
          class="passwordEye"
          (click)="loginSerivce.togglePasswordVisibility()"
          [src]="loginSerivce.passwordIcon"
        />
        }
        <div class="error-msg">
          @if (!password.valid && password.touched) {
          <p>You must enter a password.</p>
          } @else { @if (registerData.password.length < 6 && password.touched) {
          <p>The password must consist of at least 6 characters</p>
          } }
        </div>
        <input
          type="passwordConfirm"
          id="passwordConfirm"
          name="passwordConfirm"
          #passwordConfirm="ngModel"
          [type]="loginSerivce.passwordFieldType"
          placeholder="Confirm Password"
          class="custom-input"
          [(ngModel)]="registerData.passwordConfirm"
          required
        />
        @if(!registerData.passwordConfirm) {
        <img
          class="custom-img"
          src="./../../../assets/img/login/lock.svg"
          alt=""
        />
        } @else {
        <img
          class="passwordEyeConfirm"
          (click)="loginSerivce.togglePasswordVisibility()"
          [src]="loginSerivce.passwordIcon"
        />
        }
        <div class="error-msg">
          @if (!passwordConfirm.valid && passwordConfirm.touched) {
          <p>You must enter a password.</p>
          } @if (registerData.password !== registerData.passwordConfirm &&
          registerData.password !== "" && registerData.passwordConfirm !== "") {
          <p>The passwords don't match!</p>
          }
        </div>
        <div class="privacy-policy">
          <input
            type="checkbox"
            id="checkbox"
            name="checkbox"
            #checkbox="ngModel"
            [(ngModel)]="registerData.checkboxState"
            required
          />
          <div class="label">
            <p>
              I accept the
              <a routerLink="/login/privacy-policy">Privacy policy</a>
            </p>
          </div>
        </div>
        <div class="error-msg">
          @if (!checkbox.valid && checkbox.touched) {
          <p>You must accept the privacy policy!</p>
          }
        </div>
      </div>
      <div class="form-buttons">
        <app-form-btn
          [class]="'btn-login'"
          [type]="'submit'"
          [value]="'Sign up'"
          [disabled]="
            mail.invalid ||
            !registerData.mail ||
            password.invalid ||
            !registerData.password ||
            sharedService.isBtnDisabled ||
            registerData.password.length < 6 ||
            registerData.password !== registerData.passwordConfirm ||
            !checkIfUserEmailIsValid(registerData.mail)
          "
        ></app-form-btn>
      </div>
    </div>
  </form>
  <app-footer></app-footer>
</section>
