<section>
  <div class="dialog">
    <p>
      {{ "contactDeleteDialog.deleteContact" | translate }}
    </p>
    <div class="btns">
      <div class="btn">
        <div class="btn-cancle" (click)="cancelDeleteContact()">
          {{ "contactDeleteDialog.btnCancle" | translate }}
        </div>
      </div>
      <div class="btn">
        <div class="btn-delete-contact" (click)="deleteContact()">
          {{ "contactDeleteDialog.btnDelete" | translate }}
        </div>
      </div>
    </div>
  </div>
</section>
