section {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding-right: 64px;
  a {
    text-decoration: none;
    color: var(--gray);
    &:hover {
      color: var(--light-blue);
    }
  }
}

h1 {
  font-size: 61px;
  font-weight: 700;
}

h2 {
  font-size: 27px;
  font-weight: 700;
  margin: 24px 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 48px;
    &:hover {
      width: 36px;
      height: 36px;
      background-color: var(--light-gray);
      border-radius: 18px;
    }
  }
}

.content-table {
  margin-top: 24px;
  td:first-child {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    margin-right: 35px;
  }
  p {
    margin: 16px 0;
  }
}

.color {
  color: var(--light-blue);
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 910px) {
  section {
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 27px;
  }

  .content-table {
    td:first-child {
      margin-right: 12px;
    }
  }
}
