<div class="assigned">
  <div class="headline">{{ "addTask.assigned" | translate }}</div>
  <input
    #searchField
    id="search-assigned"
    class="search-assigned"
    name="search"
    placeholder="{{ 'addTask.assignedFormField' | translate }}"
    type="text"
    [(ngModel)]="searchValue"
    (input)="searchTask()"
    autocomplete="off"
    (click)="toggleAssignedMenu()"
  />
  @if (showAssignedList) {
  <app-assigned-list
    [filteredUsers]="filteredUsers"
    [taskCreator]="taskCreator"
    [searchInput]="searchInput"
    (assignedChange)="receiveAssigned($event)"
  >
    ></app-assigned-list
  >
  <img class="close" src="./../../../assets/img/close.svg" alt="" />
  } @else {
  <img
    class="open"
    src="./../../../assets/img/add-task/arrow-down.svg"
    alt=""
  />
  }

  <div class="assigned-badge">
    @for (user of users; track user; let index = $index) { @for (users of
    assignedList; track users ) { @if (user.id === users) {
    <div
      class="circle"
      (mousemove)="openTooltipUser(user.id, $event)"
      (mouseleave)="closeTooltipUser()"
      [ngStyle]="{
        'background-color': user.color
      }"
    >
      <div class="initials">
        {{ user.initials }}
      </div>
    </div>
    } } } @if (tooltipUserId) {
    <div
      class="tooltip-user"
      [style.left.px]="dialogX"
      [style.top.px]="dialogY"
    >
      @for (user of users; track user) { @if (user.id === tooltipUserId) {
      <p>
        {{ user.firstName }}
      </p>
      <p>
        {{ user.lastName }}
      </p>
      }}
    </div>
    }
  </div>
</div>
