.assigned {
  position: relative;

  .open {
    position: absolute;
    top: 55px;
    right: 20px;
    width: 14px;
    height: 7px;
  }

  .close {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    &:hover {
      filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg)
        brightness(92%) contrast(92%);
    }
  }
}

.assigned-badge {
  display: flex;
  align-items: center;
  margin: 6px 6px 12px 6px;
  height: 40px;

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid var(--white);
    margin-right: 6px;
    cursor: default;

    .initials {
      font-size: 12px;
      font-weight: 400;
      color: var(--white);
      text-shadow: 1px 1px 2px var(--black);
    }
  }
}

.tooltip-user {
  position: fixed;
  width: min-content;
  height: fit-content;
  padding: 10px 15px;
  border-radius: 0px 20px 20px 20px;
  border: 1px solid var(--black);
  z-index: 2;
  background-color: var(--white);
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.headline {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 6px;
}

input,
textarea,
select {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
  width: calc(100% - 42px);
  color: var(--black);
  background-color: var(--white);
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px dashed red;
}

input:valid,
textarea:valid,
select:valid {
  border: 1px solid black;
}
