@if (navbarVisible) {
<nav class="navbar d-none">
  <div class="link" routerLink="imprint">
    <span>Legal Notice</span>
  </div>
  <div class="link" routerLink="privacy-policy">
    <span>Privacy Policy</span>
  </div>
  <div class="link" onclick="logout()">
    <span>Log out</span>
  </div>
</nav>
} @else if (navbarLanguageVisible) {
<nav class="navbar language d-none">
  <div
    class="link"
    (click)="langService.switchLanguage('en')"
    [ngClass]="{
      active: langService.currentLang === 'en'
    }"
  >
    <span>English</span>
  </div>
  <div
    class="link"
    (click)="langService.switchLanguage('de')"
    [ngClass]="{
      active: langService.currentLang === 'de'
    }"
  >
    <span>German</span>
  </div>
</nav>
}
