@if (navbarVisible) {
<nav class="navbar d-none">
  <div class="link" routerLink="privacy-policy">
    <span>{{ "navbar.privacyPolicy" | translate }}</span>
  </div>
  <div class="link" routerLink="imprint">
    <span>{{ "navbar.legalNotice" | translate }}</span>
  </div>
  <div class="link" onclick="logout()">
    <span>{{ "navbar.logout" | translate }}</span>
  </div>
</nav>
} @else if (navbarLanguageVisible) {
<nav class="navbar language d-none">
  <div
    class="link"
    (click)="langService.switchLanguage('en')"
    [ngClass]="{
      active: langService.currentLang === 'en'
    }"
  >
    <span>{{ "navbar.english" | translate }}</span>
  </div>
  <div
    class="link"
    (click)="langService.switchLanguage('de')"
    [ngClass]="{
      active: langService.currentLang === 'de'
    }"
  >
    <span>{{ "navbar.german" | translate }}</span>
  </div>
</nav>
}
