@if (navbarVisible) {
<nav class="navbar d-none">
  <div
    class="link"
    routerLink="privacy-policy"
    [ngClass]="{
      active: currentRoute === '/privacy-policy'
    }"
  >
    <span>{{ "navbar.privacyPolicy" | translate }}</span>
  </div>
  <div
    class="link"
    routerLink="imprint"
    [ngClass]="{
      active: currentRoute === '/imprint'
    }"
  >
    <span>{{ "navbar.legalNotice" | translate }}</span>
  </div>
  <div class="link" onclick="logout()">
    <span>{{ "navbar.logout" | translate }}</span>
  </div>
</nav>
} @else if (navbarLanguageVisible) {
<nav class="navbar language d-none">
  <div
    class="link"
    [ngClass]="{
      active: langService.currentLang === 'en'
    }"
    (click)="langService.switchLanguage('en')"
  >
    <span>{{ "navbar.english" | translate }}</span>
  </div>
  <div
    class="link"
    [ngClass]="{
      active: langService.currentLang === 'de'
    }"
    (click)="langService.switchLanguage('de')"
  >
    <span>{{ "navbar.german" | translate }}</span>
  </div>
</nav>
}
