.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 96px;
  right: 15px;
  width: 150px;
  height: 158px;
  background-color: var(--bgSidebar);
  border-radius: 20px 0 20px 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 2;
}

.language {
  height: 108px;
}

.link {
  display: flex;
  align-items: center;
  height: 46px;
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  span {
    width: 118px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  &:hover {
    background-color: var(--very-dark-blue);
    span {
      color: var(--light-blue);
    }
  }
}

.active {
  background-color: var(--very-dark-blue);
  cursor: unset;
  span {
    color: var(--light-blue);
  }
}

span {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 910px) {
}
