<div
  [ngClass]="{
    'blur-background': sharedService.isAnyDialogOpen
  }"
>
  <div class="container">
    <app-sidebar></app-sidebar>
    <app-header></app-header>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-sidebar-mobile></app-sidebar-mobile>
</div>
@if (sharedService.isNewContactDialogOpen) {
<app-contact-edit
  [ngClass]="{
    'blur-background': sharedService.isDeleteContactDialogOpen,
    'd-none': sharedService.isDeleteContactDialogOpen
  }"
></app-contact-edit>
} @if (sharedService.isEditContactDialogOpen) {
<app-contact-edit
  [currentUserId]="sharedService.currentUserId"
  [ngClass]="{
    'blur-background': sharedService.isDeleteContactDialogOpen,
    'd-none': sharedService.isDeleteContactDialogOpen
  }"
></app-contact-edit>
} @if (sharedService.isDeleteContactDialogOpen) {
<app-contact-delete
  [currentUserId]="sharedService.currentUserId"
></app-contact-delete>
}
