.container {
  display: flex;
}

app-header {
  position: fixed;
  top: 0;
  left: 232px;
  right: 0;
  height: 96px;
  width: 100%;
  background-color: var(--white);
}

app-sidebar {
  width: 232px;
  height: 100vh;
}

app-sidebar-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.main-content {
  position: fixed;
  top: 96px;
  left: 232px;
  bottom: 0;
  right: 0;
  padding: 64px;
  background-color: var(--bgContent);
  overflow-y: auto;
}

.blur-background {
  filter: blur(5px);
  overflow: hidden;
}

.d-none {
  display: none;
}

@media screen and (max-width: 910px) {
  .main-content {
    padding: 32px;
    left: 0;
    bottom: 80px;
  }

  app-header {
    left: 0;
  }

  app-sidebar-mobile {
    display: unset;
  }
}

@media screen and (max-width: 700px) {
  .main-content {
    top: 80px;
  }

  app-header {
    height: 80px;
  }
}

@media screen and (max-width: 450px) {
  .main-content {
    padding: 16px;
  }
}
