.container {
  display: flex;
}

app-header {
  position: fixed;
  left: 232px;
  height: 96px;
  width: 100%;
  background-color: var(--white);
  z-index: 2;
}

app-sidebar {
  width: 232px;
  height: 100vh;
}

app-sidebar-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.main-content {
  position: fixed;
  top: 96px;
  left: 232px;
  bottom: 0;
  right: 0;
  padding: 64px;
  background-color: var(--bgContent);
  overflow-y: auto;
  z-index: 1;
}

.blur-background {
  filter: blur(5px);
}

@media screen and (max-width: 910px) {
  .main-content {
    padding: 32px;
    left: 0;
    bottom: 80px;
  }

  app-header {
    left: 0;
  }

  app-sidebar-mobile {
    display: unset;
  }
}

@media screen and (max-width: 450px) {
  .main-content {
    padding: 16px;
  }
}
