.container {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 232px;
  height: 100%;
  background-color: var(--bgSidebar);
  overflow-y: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  height: 96px;
  width: 100%;
  background-color: var(--white);
}

.content {
  width: calc(100% - 128px);
  min-width: calc(100vw - 232px - 128px);
  height: 100vh;
  padding: 64px;
  background-color: var(--bgContent);
  overflow-y: auto;
}
