<section>
  <app-header [signUpBtn]="true"></app-header>
  <form
    id="form"
    #taskForm="ngForm"
    (ngSubmit)="onSubmit(taskForm)"
    onsubmit="return false"
  >
    <div class="content">
      <p>{{ "login.login" | translate }}</p>
      <div class="line">
        <img src="./../../../assets/img/login/blue-line.svg" alt="" />
      </div>
      <div class="input-fields">
        <input
          type="mail"
          id="mail"
          name="mail"
          #mail="ngModel"
          placeholder="{{ 'login.email' | translate }}"
          class="custom-input"
          autocomplete="email"
          [(ngModel)]="loginData.mail"
          required
        />
        @if(!loginData.mail) {
        <img
          class="custom-img"
          src="./../../../assets/img/login/mail.svg"
          alt=""
        />
        } @else {
        <img class="custom-img" alt="" />
        }
        <div class="error-msg">
          @if (!mail.valid && mail.touched) {
          <p>{{ "login.errorMail0" | translate }}</p>
          } @if (loginSerivce.errorCode == 'auth/invalid-email') {
          <p>{{ "login.errorMail1" | translate }}</p>
          }
        </div>
        <input
          type="password"
          id="password"
          name="password"
          #password="ngModel"
          [type]="loginSerivce.passwordFieldType"
          placeholder="{{ 'login.password' | translate }}"
          class="custom-input"
          autocomplete="current-password"
          [(ngModel)]="loginData.password"
          required
        />
        @if(!loginData.password) {
        <img
          class="custom-img"
          src="./../../../assets/img/login/lock.svg"
          alt=""
        />
        } @else {
        <img
          class="passwordEye"
          *ngIf="isPasswordIconVisible"
          (click)="loginSerivce.togglePasswordVisibility()"
          [src]="loginSerivce.passwordIcon"
        />
        }
        <div class="error-msg">
          @if (!password.valid && password.touched) {
          <p>{{ "login.errorPassword0" | translate }}</p>
          } @if (loginSerivce.errorCode == 'auth/invalid-credential') {
          <p>{{ "login.errorPassword1" | translate }}</p>
          }
        </div>
      </div>
      <div class="google-button">
        <app-form-btn
          [class]="'btn-google'"
          [type]="'button'"
          [value]="'login.google' | translate"
          [disabled]="sharedService.isBtnDisabled"
          (click)="googleLogin()"
        ></app-form-btn>
      </div>
      <div class="form-buttons">
        <app-form-btn
          [class]="'btn-login'"
          [type]="'submit'"
          [value]="'login.login' | translate"
          [disabled]="
            mail.invalid ||
            !loginData.mail ||
            password.invalid ||
            !loginData.password ||
            sharedService.isBtnDisabled ||
            !checkIfUserEmailIsValid(loginData.mail)
          "
        ></app-form-btn>
        <app-form-btn
          [class]="'btn-guest-login'"
          [type]="'button'"
          [value]="'login.guest' | translate"
          [disabled]="sharedService.isBtnDisabled"
          (click)="guestLogin()"
        ></app-form-btn>
      </div>
    </div>
  </form>
  <app-footer></app-footer>
</section>
@if (sharedService.isBtnDisabled) {
<div class="loading-dialog">
  <div id="loading" class="loader"></div>
  <div id="loadingText" class="loading-text">
    <p>
      {{ "login.loginDialog0" | translate }}
    </p>
    <p>
      {{ "login.loginDialog1" | translate }}
    </p>
  </div>
</div>
}
