<section>
  <div class="headerline">
    <div class="title">Contacts</div>
    <div class="blue-bar"></div>
    <div class="metrics-txt">Better with a team</div>
  </div>
  <div class="content">
    <div class="header">
      <div
        class="circle"
        [ngStyle]="{
          'background-color': userService.displayUserDetails(paramsId, 'color')
        }"
      >
        <div class="initials">
          {{ userService.displayUserDetails(paramsId, "initials") }}
        </div>
      </div>
      <div class="details">
        <div class="name">
          {{ userService.displayUserDetails(paramsId, "firstName") }}
          {{ userService.displayUserDetails(paramsId, "lastName") }}
        </div>
        <div class="btns">
          <div class="btn">
            <img src="./../../../../assets/img/contact/edit.svg" alt="" />
            <p>edit</p>
          </div>
          <div class="btn">
            <img src="./../../../../assets/img/contact/delete.svg" alt="" />
            <p>delete</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="headline">Contact Information</div>
      <div class="info">
        <p>Email:</p>
        <a [href]="'mail:' + userService.displayUserDetails(paramsId, 'email')">
          {{ userService.displayUserDetails(paramsId, "email") }}
        </a>
        <p>Phone:</p>
        <a [href]="'tel:' + userService.displayUserDetails(paramsId, 'phone')">
          {{ userService.displayUserDetails(paramsId, "phone") }}
        </a>
      </div>
    </div>
  </div>
</section>
