section {
  position: absolute;
  top: -64px;
  left: 339px;
  width: calc(100vw - 747px);
  min-height: calc(100vh - 208px);
  padding: 64px 48px 48px 48px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    &:hover {
      width: 36px;
      height: 36px;
      background-color: var(--light-gray);
      border-radius: 18px;
    }
  }
}

.headerline {
  display: flex;
  align-items: center;
  position: relative;
  height: 73px;
  .title {
    font-size: 61px;
    font-weight: 700;
    padding-right: 24px;
  }
  .metrics-txt {
    font-size: 27px;
    font-weight: 400;
    padding-left: 24px;
  }
  .blue-bar {
    height: 80%;
    width: 3px;
    background-color: var(--light-blue);
  }
}

.content {
  display: flex;
  align-items: center;
  margin-top: 48px;
  max-width: 100%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  min-width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 4px solid var(--white);
  .initials {
    font-size: 47px;
    font-weight: 500;
    color: var(--white);
    text-shadow: 1px 1px 2px var(--black);
  }
}

.details {
  margin-left: 32px;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.name {
  display: flex;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
}

.btns {
  display: flex;
  align-items: center;
  padding-top: 12px;
  img {
    width: 20px;
    height: 20px;
    padding-right: 12px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    padding-right: 24px;
  }
  .btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg);
    }
  }
}

.contact {
  margin-top: 48px;
  .headline {
    font-size: 20px;
    font-weight: 400;
  }
  .info {
    margin-top: 16px;
    p {
      font-size: 16px;
      font-weight: 700;
      padding: 24px 0 12px 0;
    }
    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      color: var(--light-blue);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*------------- ANIMATION -------------*/

.animation-coming-in {
  animation: coming-in 250ms ease-in-out;
  opacity: 1;
}

@keyframes coming-in {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 1300px) {
  .headerline {
    .title {
      font-size: 50px;
    }
    .metrics-txt {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1235px) {
  .headerline {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    height: 100%;
    .metrics-txt {
      padding-left: 0;
    }
    .blue-bar {
      position: absolute;
      bottom: -15px;
      height: 3px;
      width: 100px;
    }
  }

  .name {
    display: block;
    font-size: 32px;
  }
}

@media screen and (max-width: 1150px) {
  section {
    position: unset;
    box-shadow: unset;
    width: calc(100vw - 312px);
    padding: 0;
  }

  .header {
    padding-right: 64px;
  }
}

@media screen and (max-width: 1150px) {
  section {
    width: calc(100vw - 296px);
  }
}

@media screen and (max-width: 910px) {
  section {
    width: calc(100vw - 48px);
    min-height: calc(100vh - 240px);
  }

  .header {
    padding-right: 0;
  }
}

@media screen and (max-width: 450px) {
  .btns {
    display: none;
  }

  section {
    width: calc(100vw - 36px);
  }

  .headerline {
    .title {
      font-size: 47px;
      font-weight: 700;
    }
    .metrics-txt {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
