section {
  margin: 0;
  background-color: var(--very-light-gray);
  padding-bottom: 32px;
}

.content {
  display: flex;
  margin-top: 48px;
  width: 100%;
}

input,
textarea {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
  width: calc(100% - 42px);
  resize: none;
}

p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 6px;
}

.red-dot {
  color: var(--light-red);
}

.error-msg {
  height: 24px;
  padding: 6px;
  p {
    color: var(--red);
    font-size: 16px;
    font-weight: 400;
  }
}

/*------------- HEADER -------------*/

.headline {
  .title {
    font-size: 61px;
    font-weight: 700;
  }
}

/*------------- LEFT SIDE -------------*/

.left-side {
  width: 45%;
}

/*------------- MIDDLE -------------*/

.middle-spacer {
  display: flex;
  justify-content: center;
  width: 10%;
  height: auto;
  .line {
    width: 1px;
    background-color: var(--light-gray);
  }
}

/*------------- RIGHT SIDE -------------*/

.right-side {
  width: 45%;
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btn-text {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn {
  background-color: var(--white);
  font-size: 20px;
  font-weight: 400;
  width: 136px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 10px 16px;
  cursor: pointer;
}

.btn-active {
  cursor: unset;
  color: var(--white);
  img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
      hue-rotate(346deg) brightness(99%) contrast(103%);
  }
}

.btn:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
