section {
  margin: 0;
  background-color: var(--very-light-gray);
}

.content {
  display: flex;
  width: 100%;
}

.dialog {
  position: fixed;
  width: min-content;
  height: fit-content;
  padding: 10px 15px;
  border-radius: 0px 20px 20px 20px;
  border: 1px solid var(--black);
  z-index: 2;
  background-color: var(--white);
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.edit-task-overlay-content {
  height: calc(700px - 128px);
  padding: 0 6px;
  overflow-y: auto;
}

input,
textarea,
select {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
  width: calc(100% - 42px);
  resize: none;
}

input:invalid,
textarea:invalid,
select:invalid {
  border: 1px dashed red;
}

input:valid,
textarea:valid,
select:valid {
  border: 1px solid black;
}

p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 6px;
}

.red-dot {
  color: var(--light-red);
}

.error-msg {
  height: 24px;
  padding: 6px;
  p {
    color: var(--red);
    font-size: 12px;
    font-weight: 400;
  }
}

.d-none {
  display: none;
}

/*------------- HEADER -------------*/

.headline {
  margin-bottom: 48px;
  .title {
    font-size: 61px;
    font-weight: 700;
  }
}

/*------------- LEFT SIDE -------------*/

.left-side {
  width: 45%;
}

.assigned {
  position: relative;
  .open {
    position: absolute;
    top: 55px;
    right: 20px;
    width: 14px;
    height: 7px;
  }
  .close {
    position: absolute;
    top: 45px;
    right: 15px;
    width: 25px;
    height: 25px;
  }
}

.assigned-badget {
  display: flex;
  margin-top: 6px;
  height: 40px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid var(--white);
  margin-right: 6px;
  cursor: default;
  .initials {
    font-size: 12px;
    font-weight: 400;
    color: var(--white);
    text-shadow: 1px 1px 2px var(--black);
  }
}

.subtask {
  position: relative;
  .add {
    position: absolute;
    top: 45px;
    right: 15px;
    width: 25px;
    height: 25px;
  }
  .subtask-btns {
    display: flex;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 15px;
    img {
      width: 25px;
      height: 25px;
      cursor: pointer;
      &:hover {
        filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg)
          brightness(92%) contrast(92%);
      }
    }
    .line {
      height: 18px;
      padding: 1px;
      margin: 0 6px;
      background-color: var(--light-gray);
    }
  }
}

.subtasks {
  padding: 12px 0;
  margin-right: 14px;
  .single-subtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 9px;
    width: 100%;
    cursor: pointer;
    p {
      padding: 0;
    }
    &:hover {
      border-radius: 12px;
      background-color: var(--light-gray);
    }
    img {
      width: 25px;
      height: 25px;
      &:hover {
        filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg)
          brightness(92%) contrast(92%);
      }
    }
  }
}

/*------------- MIDDLE -------------*/

.middle-spacer {
  display: flex;
  justify-content: center;
  width: 10%;
  height: auto;
  .line {
    width: 1px;
    background-color: var(--light-gray);
  }
}

/*------------- RIGHT SIDE -------------*/

.right-side {
  width: 45%;
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 36px;
}

.btn-text {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn {
  background-color: var(--white);
  font-size: 20px;
  font-weight: 400;
  width: 125px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 10px 16px;
  cursor: pointer;
}

.btn-active {
  cursor: unset;
  color: var(--white);
  img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
      hue-rotate(346deg) brightness(99%) contrast(103%);
  }
}

.btn:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.category {
  select {
    width: 100%;
  }
}

/*------------- SUBMIT BUTTON -------------*/

.form-buttons {
  display: flex;
  justify-content: end;
  margin-top: 12px;
}

.btn-submit {
  width: 183px;
  height: 56px;
  padding: 12px;
  margin: 12px 12px;
  border-radius: 10px;
  border: 1px solid var(--black) !important;
  background-color: var(--light-gray);
  font-size: 23px;
  font-weight: 400;
  transition: 125ms ease-in-out;
  &:hover:not(:disabled) {
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--light-blue) !important;
    border: 1px solid var(--light-blue) !important;
    cursor: pointer;
  }
  &:not(:disabled) {
    background-color: var(--very-dark-blue) !important;
    color: var(--white);
  }
  &:hover {
    cursor: default;
  }
}

.btn-clear {
  width: 110px;
  height: 56px;
  padding: 12px;
  margin: 12px 12px;
  border-radius: 10px;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
  font-size: 23px;
  font-weight: 400;
  transition: 125ms ease-in-out;
  cursor: pointer;
  &:hover {
    color: var(--light-blue);
    border-color: var(--light-bluek);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  }
}

.btn-delete {
  width: 110px;
  height: 56px;
  padding: 12px;
  margin: 12px 12px;
  border-radius: 10px;
  color: var(--red);
  background-color: var(--white);
  border: 1px solid var(--red);
  font-size: 23px;
  font-weight: 400;
  transition: 125ms ease-in-out;
  cursor: pointer;
  &:hover {
    color: var(--white);
    background-color: var(--red);
    border-color: var(--black);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  }
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 1250px) {
  .btn-text {
    span {
      display: none;
    }
  }
}
