section {
  margin: 0;
  background-color: var(--very-light-gray);
  padding-bottom: 32px;
}

.content {
  display: flex;
  margin-top: 48px;
  width: 100%;
}

input,
textarea {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
  width: 80%;
  resize: none;
}

p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 6px;
}

.red-dot {
  color: var(--light-red);
}

.error-msg {
  height: 24px;
  padding: 6px;
  p {
    color: var(--red);
    font-size: 16px;
    font-weight: 400;
  }
}

/*------------- HEADER -------------*/

.headline {
  .title {
    font-size: 61px;
    font-weight: 700;
  }
}

/*------------- LEFT SIDE -------------*/

.left-side {
  width: 45%;
}

/*------------- MIDDLE -------------*/

.middle-spacer {
  display: flex;
  justify-content: center;
  width: 10%;
  height: auto;
  .line {
    width: 1px;
    background-color: var(--light-gray);
    margin: 0 6px;
  }
}

/*------------- RIGHT SIDE -------------*/

.right-side {
  width: 45%;
}
