<section
  [ngStyle]="{
    'background-color':
      !overlayMobile && overlayData !== '' ? 'var(--white)' : ''
  }"
>
  <div
    class="header"
    [ngStyle]="{ display: overlayData !== '' ? 'none' : 'block' }"
  >
    <app-headline [title]="'addTask.headline' | translate"></app-headline>
  </div>

  <form
    (ngSubmit)="onSubmit(taskForm)"
    (keydown.enter)="handleEnterKey($event)"
    #taskForm="ngForm"
    onsubmit="return false"
  >
    <div
      class="content"
      [ngClass]="{
        'edit-task-overlay-content': !overlayMobile && overlayData !== '',
        'edit-task-overlay-content-mobile': overlayMobile && overlayData !== '' && overlayType === 'addTaskOverlay',
      }"
    >
      <div class="left-side">
        <!-- Title -->
        <div class="title">
          <div class="headline">
            {{ "addTask.title" | translate }}<span class="red-dot">*</span>
          </div>
          <input
            type="text"
            id="title"
            name="title"
            #title="ngModel"
            placeholder="{{
              taskData.title
                ? taskData.title
                : ('addTask.titleFormField' | translate)
            }}"
            [(ngModel)]="taskData.title"
            autocomplete="off"
            required
          />
          <div class="error-msg">
            @if (!title.valid && title.touched) {
            <p>{{ "addTask.titleError" | translate }}</p>
            }
          </div>
        </div>

        <!-- Description -->
        <div class="description">
          <div class="headline">
            {{ "addTask.description" | translate
            }}<span class="red-dot">*</span>
          </div>
          <textarea
            id="description"
            rows="5"
            name="description"
            #description="ngModel"
            minlength="10"
            placeholder="{{
              taskData.description
                ? taskData.description
                : ('addTask.descriptionFormField' | translate)
            }}"
            [(ngModel)]="taskData.description"
            autocomplete="off"
            required
          ></textarea>
          <div class="error-msg">
            @if (!description.valid && description.touched) {
            <p>{{ "addTask.descriptionError" | translate }}</p>
            }
          </div>
        </div>

        <!-- Assignees -->
        <app-assigned
          [taskCreator]="taskData.creator"
          [currentAssignees]="taskData.assignees"
          (assignedChange)="receiveAssigned($event)"
        ></app-assigned>
      </div>

      <div class="middle-spacer"><div class="line"></div></div>

      <div class="right-side">
        <!-- Date -->
        <div
          class="date"
          [ngStyle]="{
            'margin-top': overlayMobile ? '28px' : ''
          }"
        >
          <div class="headline">
            {{ "addTask.date" | translate }}<span class="red-dot">*</span>
          </div>
          <input
            type="date"
            id="date"
            name="date"
            #date="ngModel"
            (input)="checkDateInput()"
            placeholder="{{ taskData.date }}"
            [(ngModel)]="taskData.date"
            autocomplete="off"
            required
          />
          <div class="error-msg">
            @if (!date.valid && date.touched) {
            <p>{{ "addTask.dateError0" | translate }}</p>
            } @if (dateInPast && date.valid) {
            <p>{{ "addTask.dateError1" | translate }}</p>
            }
          </div>
        </div>

        <!-- Priority -->
        <div class="priority">
          <div class="headline">{{ "addTask.priority" | translate }}</div>
          <div class="btns">
            @for (priority of PRIORITIES; track priority) {
            <button
              type="button"
              class="btn"
              [ngClass]="{
                'btn-active': taskData.priority === priority
              }"
              [ngStyle]="{
                'background-color':
                  taskData.priority === priority
                    ? getPriorityColor(priority)
                    : 'white'
              }"
              (click)="togglePriority(priority)"
            >
              <div class="btn-text">
                <span>{{ PRIORITY_LABELS[priority] | translate }}</span>
                <img
                  [src]="getPriorityIcon(priority)"
                  [alt]="priority + ' icon'"
                />
              </div>
            </button>
            }
          </div>
        </div>

        <!-- Category -->
        <div class="category">
          <div class="headline">
            {{ "addTask.category" | translate }}<span class="red-dot">*</span>
          </div>
          <select
            id="category"
            name="category"
            #category="ngModel"
            [(ngModel)]="taskData.category"
            required
          >
            <option value="" disabled [selected]="!taskData.category">
              {{ "addTask.categorySelection" | translate }}
            </option>
            <option value="User Story">User Story</option>
            <option value="Technical Task">Technical Task</option>
          </select>
          <img
            class="open"
            src="./../../../assets/img/add-task/arrow-down.svg"
            alt=""
          />
          <div class="error-msg">
            @if (!category.valid && category.touched) {
            <p>{{ "addTask.categoryError" | translate }}</p>
            }
          </div>
        </div>

        <!-- Subtasks -->
        <div class="subtask">
          <div class="headline">{{ "addTask.subtask" | translate }}</div>
          <input
            type="text"
            id="subtask"
            name="subtask"
            #subtask="ngModel"
            placeholder="{{ 'addTask.subtaskFormField' | translate }}"
            [(ngModel)]="subtaskValue"
            (input)="updateSubtaskValue()"
            autocomplete="off"
          />
          @if (subtaskValue) {
          <div class="subtask-btns">
            <img
              src="./../../../assets/img/close.svg"
              alt=""
              (click)="subtask.reset()"
            />
            <span class="line"></span>
            <img
              src="./../../../assets/img/check.svg"
              alt=""
              (click)="addSubtask(subtask.value); subtask.reset()"
            />
          </div>
          } @else {
          <img class="add" src="./../../../assets/img/add.svg" alt="" />
          } @if (taskData.subtasks.length > 0) {
          <div class="subtasks">
            @for (subtask of taskData.subtasks.reverse(); track subtask.title) {
            <div class="single-subtask">
              <p>- {{ subtask.title }}</p>
              <img
                src="./../../../assets/img/close.svg"
                alt=""
                (click)="deleteSubtask(subtask)"
              />
            </div>
            }
          </div>
          }
        </div>
      </div>
    </div>
    <div
      class="form-buttons"
      [ngStyle]="{
        'background-color': overlayMobile ? 'var(--very-light-gray)' : ''
      }"
    >
      <app-form-btn
        [class]="'btn-clear'"
        [type]="'button'"
        [value]="'addTask.clear' | translate"
        [img]="'close'"
        [ngStyle]="{
          display:
            (overlayType === '' ||
              overlayType === 'addTaskOverlay' ||
              overlayType === 'newTaskOverlay') &&
            !overlayMobile
              ? 'block'
              : 'none'
        }"
        (click)="clearTaskData(taskForm)"
      ></app-form-btn>
      <app-form-btn
        [class]="'btn-delete'"
        [type]="'button'"
        [value]="'addTask.delete' | translate"
        [ngStyle]="{
          display:
            overlayData !== '' &&
            overlayType !== 'addTaskOverlay' &&
            overlayType !== 'newTaskOverlay'
              ? 'block'
              : 'none'
        }"
        (click)="deleteTask(overlayData)"
      ></app-form-btn>
      <app-form-btn
        [class]="'btn-submit'"
        [type]="'submit'"
        [img]="'check'"
        [imgFilter]="'none'"
        [value]="
          ['', 'todo', 'inprogress', 'awaitfeedback', 'done'].includes(
            overlayData.toString()
          )
            ? ('addTask.create' | translate)
            : ('addTask.update' | translate)
        "
        [disabled]="
          title.invalid ||
          !taskData.title ||
          description.invalid ||
          !taskData.description ||
          date.invalid ||
          !taskData.date ||
          dateInPast ||
          !taskData.priority ||
          category.invalid ||
          !taskData.category
        "
      ></app-form-btn>
    </div>
  </form>
</section>
