<section>
  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    onsubmit="return false"
    class="contact-formular"
  >
    <div class="name">
      <input
        id="firstName"
        type="text"
        class="firstName"
        name="firstName"
        #firstName="ngModel"
        placeholder="{{
          contactData.firstName !== ''
            ? contactData.firstName
            : ('contactDalogForm.firstName' | translate)
        }}"
        [(ngModel)]="contactData.firstName"
        autocomplete="off"
        required
      />
      @if (sharedService.isContactViewMedia) {
      <div class="error-msg">
        @if (!firstName.valid && firstName.touched) {
        <p>{{ "contactDalogForm.invalidFirstName" | translate }}</p>
        }
      </div>
      }
      <input
        id="lastName"
        type="text"
        class="lastName"
        name="lastName"
        #lastName="ngModel"
        placeholder="{{
          contactData.lastName !== ''
            ? contactData.lastName
            : ('contactDalogForm.lastName' | translate)
        }}"
        [(ngModel)]="contactData.lastName"
        autocomplete="off"
        required
      />
    </div>
    @if (sharedService.isContactViewMedia) {
    <div class="error-msg">
      @if (!lastName.valid && lastName.touched) {
      <p>{{ "contactDalogForm.invalidLastName" | translate }}</p>
      }
    </div>
    } @if (!sharedService.isContactViewMedia) {
    <div class="error-msg">
      @if ((!firstName.valid && firstName.touched) && (!lastName.valid &&
      lastName.touched)) {
      <p>{{ "contactDalogForm.invalidName" | translate }}</p>
      } @else { @if (!firstName.valid && firstName.touched) {
      <p>{{ "contactDalogForm.invalidFirstName" | translate }}</p>
      } @else { @if (!lastName.valid && lastName.touched) {
      <p>{{ "contactDalogForm.invalidLastName" | translate }}</p>
      } } }
    </div>
    }
    <input
      id="email"
      type="email"
      name="email"
      #email="ngModel"
      placeholder="{{
        contactData.email !== ''
          ? contactData.email
          : ('contactDalogForm.email' | translate)
      }}"
      [(ngModel)]="contactData.email"
      autocomplete="off"
      required
    />
    <div class="error-msg">
      @if (!email.valid && email.touched) {
      <p>{{ "contactDalogForm.invalidEmail" | translate }}</p>
      }
    </div>
    <input
      id="phone"
      type="phone"
      name="phone"
      #phone="ngModel"
      placeholder="{{
        contactData.phone !== ''
          ? contactData.phone
          : ('contactDalogForm.phone' | translate)
      }}"
      [(ngModel)]="contactData.phone"
      autocomplete="off"
      required
    />
    <div class="error-msg">
      @if (!phone.valid && phone.touched) {
      <p>{{ "contactDalogForm.invalidPhone" | translate }}</p>
      }
    </div>
    <div class="btns">
      <app-form-btn
        class="btn-delete"
        type="button"
        value="{{ 'contactDalogForm.btnDelete' | translate }}"
        (click)="deleteContact()"
      ></app-form-btn>
      <app-form-btn
        [class]="'btn-submit'"
        [type]="'submit'"
        [img]="'check'"
        [imgFilter]="'none'"
        value="{{ 'contactDalogForm.btnSave' | translate }}"
        [disabled]="
          firstName.invalid ||
          !contactData.firstName ||
          lastName.invalid ||
          !contactData.lastName ||
          email.invalid ||
          !contactData.email ||
          phone.invalid ||
          !contactData.phone
        "
      ></app-form-btn>
    </div>
  </form>
</section>
