.overlay {
  width: 925px;
  height: fit-content;
  max-height: 700px;
  padding: 48px 40px 48px 40px;
  border-radius: 30px;
  background-color: var(--white);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.overlay-mobile {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: right;
}

/*------------- RESPONSIVE -------------*/

@media screen and (max-width: 1050px) {
  .overlay {
    width: calc(100vw - 124px);
  }
}
