<section>
  <div class="header">
    <app-btn-close (click)="closeDialog()"></app-btn-close>
  </div>

  <form
    (ngSubmit)="onSubmit(taskForm)"
    #taskForm="ngForm"
    onsubmit="return false"
  >
    <div class="content">
      <div class="title headline">
        <p>Title<span class="red-dot">*</span></p>
        <input
          type="text"
          id="title"
          name="title"
          #title="ngModel"
          (input)="saveTaskData()"
          placeholder="{{
            taskDataEdit.title ? taskDataEdit.title : 'Enter a description'
          }}"
          [(ngModel)]="taskDataEdit.title"
          autocomplete="off"
          required
        />
        <div class="error-msg">
          @if (!title.valid && title.touched) {
          <p>You must enter a title.</p>
          }
        </div>
      </div>
      <div class="description headline">
        <p>Description<span class="red-dot">*</span></p>
        <textarea
          id="description"
          rows="5"
          name="description"
          #description="ngModel"
          minlength="10"
          (input)="saveTaskData()"
          placeholder="{{
            taskDataEdit.description
              ? taskDataEdit.description
              : 'Enter a description'
          }}"
          [(ngModel)]="taskDataEdit.description"
          autocomplete="off"
          required
        ></textarea>
        <div class="error-msg">
          @if (!description.valid && description.touched) {
          <p>You must enter a description. (min. 10 letters)</p>
          }
        </div>
      </div>
    </div>
  </form>
</section>
