<section>
  <div class="header">
    <app-btn-close (click)="closeDialog()"></app-btn-close>
  </div>

  <form
    (ngSubmit)="onSubmit(taskForm)"
    #taskForm="ngForm"
    onsubmit="return false"
  >
    <div class="content">
      <div class="title headline">
        <p>Title<span class="red-dot">*</span></p>
        <input
          type="text"
          id="title"
          name="title"
          #title="ngModel"
          (input)="saveTaskData()"
          placeholder="{{
            taskDataEdit.title ? taskDataEdit.title : 'Enter a description'
          }}"
          [(ngModel)]="taskDataEdit.title"
          autocomplete="off"
          required
        />
        <div class="error-msg">
          @if (!title.valid && title.touched) {
          <p>You must enter a title.</p>
          }
        </div>
      </div>
      <div class="description headline">
        <p>Description<span class="red-dot">*</span></p>
        <textarea
          id="description"
          rows="5"
          name="description"
          #description="ngModel"
          minlength="10"
          (input)="saveTaskData()"
          placeholder="{{
            taskDataEdit.description
              ? taskDataEdit.description
              : 'Enter a description'
          }}"
          [(ngModel)]="taskDataEdit.description"
          autocomplete="off"
          required
        ></textarea>
        <div class="error-msg">
          @if (!description.valid && description.touched) {
          <p>You must enter a description. (min. 10 letters)</p>
          }
        </div>
      </div>
      <div class="date headline">
        <p>Due date<span class="red-dot">*</span></p>
        <input
          type="date"
          id="date"
          name="date"
          #date="ngModel"
          (input)="checkDateInput()"
          placeholder="{{ taskDataEdit.date }}"
          [(ngModel)]="taskDataEdit.date"
          autocomplete="off"
          required
        />
        <div class="error-msg">
          @if (!date.valid && date.touched) {
          <p>You must enter a date.</p>
          } @if (dateInPast && date.valid) {
          <p>The date must be in the future</p>
          }
        </div>
      </div>
      <div class="priority">
        <p>Prio</p>
        <div class="btns">
          <button
            type="button"
            class="btn"
            [ngClass]="{
              'btn-active': taskDataEdit.priority == 'urgent'
            }"
            [ngStyle]="{
              'background-color':
                taskDataEdit.priority == 'urgent' ? 'red' : 'white'
            }"
            (click)="tooglePriority('urgent')"
          >
            <div class="btn-text">
              <span>Urgent</span>
              <img src="./../../../assets/img/urgent.svg" alt="" />
            </div>
          </button>
          <button
            type="button"
            class="btn"
            [ngClass]="{
              'btn-active': taskDataEdit.priority == 'medium'
            }"
            [ngStyle]="{
              'background-color':
                taskDataEdit.priority == 'medium' ? 'orange' : 'white'
            }"
            (click)="tooglePriority('medium')"
          >
            <div class="btn-text">
              <span>Medium</span>
              <img src="./../../../assets/img/medium.svg" alt="" />
            </div>
          </button>
          <button
            type="button"
            class="btn"
            [ngClass]="{
              'btn-active': taskDataEdit.priority == 'low'
            }"
            [ngStyle]="{
              'background-color':
                taskDataEdit.priority == 'low' ? 'green' : 'white'
            }"
            (click)="tooglePriority('low')"
          >
            <div class="btn-text">
              <span>Low</span>
              <img src="./../../../assets/img/low.svg" alt="" />
            </div>
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
