.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 36px;

  a {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
    padding: 8px;
    width: fit-content;
    height: 19px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      color: var(--light-blue);
      font-weight: 600;
    }
  }
}

/*------------- RESPONSIVE -------------*/

@media (max-height: 820px) {
  .footer {
    margin-bottom: 24x;
  }
}

@media (max-height: 680px) {
  .footer {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 380px) {
  .footer {
    a {
      font-size: 14px;
    }
  }
}
