<section>
  @if (task.id) {
  <div (click)="handleMenuButtonClick($event, task.id)">
    {{ disableDrag }}
    <div
      class="content"
      [draggable]="disableDrag"
      (dragstart)="
        disableDrag ? dragDropService.startDragging($event, task) : null
      "
    >
      <div class="header">
        <div
          class="category"
          [style.background-color]="categoryColors.get(task.category)"
        >
          {{ task.category }}
        </div>
        @if (pageViewMedia$ | async) {
        <div class="menu-btn" (click)="handleMenuButtonClick($event, task.id)">
          <img
            class="menu-img"
            src="./../../../../assets/img/board/menu.svg"
            alt="menu"
          />
        </div>
        }
      </div>
      <div class="headline">{{ task.title }}</div>
      <div class="description">
        {{ task.description }}
      </div>
      @if(task.subtasks.length > 0) {
      <div class="subtask">
        <div class="subtask-line">
          <span
            class="filler-full"
            [style.width.%]="completedSubtasksPercent()"
          ></span>
        </div>
        <div class="subtask-text">
          {{ completedSubtasks() }} / {{ task.subtasks.length }} Subtasks
        </div>
      </div>
      }
      <div class="footer">
        <div class="footer-badge">
          @for (user of task.userData; track user) { @if (task.creator ===
          user.id) {
          <span
            class="footer-badged"
            (mousemove)="openDialog(task.creator, $event)"
            (mouseleave)="closeDialog()"
            [style.background-color]="user.color"
            >{{ user.initials }}</span
          >} } @for (user of task.userData; track user) { @for (assigned of
          task.assignees; track assigned) { @if (assigned.userId === user.id) {
          <span
            class="footer-badged"
            (mousemove)="openDialog(user.id, $event)"
            (mouseleave)="closeDialog()"
            [style.background-color]="user.color"
            >{{ user.initials }}</span
          >
          } } }
        </div>
        <div class="footer-priority prio-{{ task.priority }}"></div>
      </div>
    </div>
  </div>
  @if (menuOpen){
  <app-task-menu
    [task]="task"
    [boardTaskStatus]="task.status"
    (updateStatusEmitter)="onStatusUpdate($event)"
  ></app-task-menu>
  } @if (AssignedDialogId != '') {
  <div class="dialog" [style.left.px]="dialogX" [style.top.px]="dialogY">
    @for (user of task.userData; track user) { @if (user.id ===
    AssignedDialogId) {
    <p>
      {{ user.firstName }}
    </p>
    <p>
      {{ user.lastName }}
    </p>
    }}
  </div>
  } }
</section>
