<section>
  <div
    class="content"
    draggable="true"
    *ngIf="index !== undefined"
    (dragstart)="dragDropService.startDragging($event, index)"
  >
    <div
      class="category"
      style="background-color: var(--generateTaskCategoryColor(id))"
    >
      category
    </div>
    <div class="headline">title</div>
    <div class="description">description</div>
    checkSubtasks(tasks[id].id)
    <div class="footer">
      <div class="footer-badge"></div>
      <div class="footer-priority"></div>
    </div>
  </div>
</section>
